/*==========================Reset css===================*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: 'Poppins', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a,a:hover{text-decoration: none;}

/*==========================Reset css End===================*/


/*==========================landing- page css===================*/
.landing-bg{    display: flex;    align-items: center;    text-align: center;background: url('../images/banner-1.jpg')no-repeat; position: relative; background-position:center ; background-size:cover ; width: 100%; min-height: 100vh; padding: 50px;}

 .landing-bg:after{ content: ""; position: absolute; display: block;width: 100%;     background: rgb(0 0 0 / 80%); left: 0; right:0 ; top: 0; bottom: 0;}
.landing-bg .container {z-index: 1;}
.logo a{display: block; max-width: 250px; width: 100%; margin: auto;}
.box-1 {    background: white;    display: inline-block;    border-radius: 25px;    align-items: center;    border: 3px solid #ed1b24;    width: 250px; height: 250px; display: flex; justify-content: center;}
   .box-1 a i {    font-size: 80px;    font-weight: 500;    margin: auto;    text-align: center;    display: inline-block;    color: #000000; transition: all 0.5s ease-in-out;}
.box-1 a{    display: block;    align-items: center;    position: relative;  transition: all 0.5s ease-in-out;}

    .box-1 a span{    display: block;    font-size: 25px;    font-weight: 600;    color: #eb2f37;    text-decoration: underline;}
    .boxes{ display: flex;    gap: 20px;    justify-content: center;    align-items: center;
} 


/*==========================landing-page-Responsive===================*/
.box-1:hover a{transform: scale(1.3);}
.box-1:hvoer a i{color: #ed1b24;}
@media only screen and (max-width: 600px) {
  .boxes{flex-wrap: wrap;}
}
/*==========================landing-page-end===================*/
/*==========================landing- page end===================*/